<li class="d-flex align-items-center border py-3 px-3  my-2 rounded">
  <%= link_to profile_path(user.id), class: "d-flex align-items-center text-decoration-none" do %>
    <%= image_tag(user.avatar, class: "mini-avatar border-primary") %>
    <p class="m-0 ms-3 text-dark fw-regular"><%= user.fname + " " + user.lname %></p>
  <% end %>
  <div class="ms-auto">
    <%= render partial: "shared/follow_button", locals: {profile_user_id: user.id, is_followed: current_user && current_user.follow?(user.id)} %>
  </div>
</li>