<div class="empty-state mx-auto d-flex justify-content-center">
  <div class="empty-state__content">
    <div class="empty-state__icon text-center">
      <%= image_tag "empty_icon.png" %>
      <h5 class="empty-state__message">No <%= record %> has been added yet.</h5>
    </div>
  </div>
</div>