<div class="bg-primary" id="header">
    <header class="header container py-1 d-flex align-items-center">
        <h1 class="me-3">Fotobook</h1>
        <div class="input-group w-auto position-relative px-2">
            <input type="text" class="form-control" placeholder="Search for photos/albums..." aria-label="Recipient's username">
            <span class="input-icon-right cursor-pointer"><i class="fa-solid fa-magnifying-glass text-dark"></i></span>
        </div>
    
        <div class="btn user-info d-flex ms-auto align-items-center text-white cursor-pointer">
            <img src="https://static-00.iconduck.com/assets.00/avatar-default-symbolic-icon-2048x1949-pq9uiebg.png"
                alt="avatar" class="user-info__avatar rounded-circle border">
            <span class="ms-2">Minh Vương</span>
        </div>
    
        <button class="btn text-white ms-4">Logout</button>
    </header>
</div>